<div class="search input-group justify-content-center mb-2 p-3">
  <form action="score" method="POST" class="d-flex">
    <input type="text" name="word" class="form-control">
    <button type="submit" class="btn btn-primary rounded-right">
      Play
    </button>
    <input id="token" name="token" type="hidden" value="20210630104313" />
    <%= hidden_field_tag :letters, @letters %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>