<div class="container shadow p-3 mb-5 rounded">
  <div class="title p-3">Longest Word Game</div>
  <hr>
  <div class="game-rules p-3">
    <p>Welcome to the Longest Word Game! Here's how it works:</p>
    <p>You are given a random set of letters. You have to enter the longest English word you can find, using only
        letters in the grid. <br> You can use letters multiple times.</p>
    <p>After typing your answer, you get your score based on the word length, or an error message if you
        failed!</p>
  </div>
  <div class="letter-row d-flex flex-row bd-highlight mb-2 justify-content-center flex-wrap">
    <% @letters.each do |letter| %>
      <ul class="letters p-3 m-1 shadow">
        <li class="letter-box"><%= letter.upcase %></li>
      </ul>
    <% end %>
  </div>
  <div class="search-word p-3">
    <p>What is the longest word you can find?</p>
    <%= render "form", letters: @letters %>
  </div>
  <%= link_to "reset score", reset_path, class:'reset-score', :data => {:confirm => 'Are you sure you want to reset your score?'} %>
</div>
